.login-page {
  width: 100%;
  height: 100%;
  background: blue;
  background: url('https://fastgpt.run/icon/login-bg.svg') no-repeat;
  background-size: cover;
  user-select: none;
  justify-content: none !important;
  align-content: none !important;
  
  .chakra-input {
    text-align: left !important;
  }
}
